body {
  background-color: #ffffff; 
}

.navbar {
  background-color: #1651A4;
}
/* Styling untuk navbar */
.navbar .navbar-nav.mx-auto {
  text-align: center;
}

.navbar .nav-link {
  color: #ffffff;
  position: relative;
  text-decoration: none;
  padding-right: 20px;
}

.navbar .nav-link:hover {
  color: #ffffff;
}

/* Hover Animation */
.navbar .nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px;
  transition: width 0.3s ease-in-out;
}

.navbar .nav-link:hover::after {
  width: 40%;
}

/* Styling tombol */
.custom-btn {
  border-radius: 12px; 
  transition: all 0.3s ease; 
}

/* Hover effect */
.custom-btn:hover {
  color: #ffffff; 
  background-color: #ffc107; 
  border-color: #ffc107; 
}

/* Responsive Styling */
@media (max-width: 767px) {
  .navbar .navbar-nav {
    text-align: center;
  }
}

.section-title-one {
  text-align: center;
  max-width: 550px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
}
.custom-img {
  max-width: 100px; 
  height: auto;  
  margin-top: 100px;   
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title-one {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .section-title-one {
    margin-bottom: 35px;
  }
}
.section-title-one h2 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title-one h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 767px) {
  .section-title-one h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

.custom-section {
  height: 100vh; 
  background: url('img/pens_bg.png') center / cover no-repeat;
  background-blend-mode: overlay;
  display: flex; 
  align-items: center;
}

.custom-gradient-circle {
  width: 100px; 
  height: 100px;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.4) 5%, transparent 48%);
  z-index: 0;
}

@media (min-width: 992px) {
  .custom-gradient-circle {
    width: 150px;
    height: 150px;
  }
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
}

.card h2 {
  font-size: 1.8rem;
}

.card h5 {
  font-size: 1.2rem;
}

.card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.badge {
  font-size: 0.8rem;
  padding: 0.3em 0.6em;
}

/*===== FOOTER ONE =====*/
.footer-one {
  background-color: var(--light-2);
}
.footer-one .footer-logo {
  margin-top: 30px;
}
.footer-one .footer-widget {
  padding-top: 70px;
  padding-bottom: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-one .footer-widget {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .footer-one .footer-widget {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
.footer-one .footer-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: var(--black);
  position: relative;
}
.footer-one .footer-app-store {
  padding-top: 22px;
}
.footer-one .footer-app-store .download-title {
  font-size: 15px;
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  color: var(--dark-1);
}
.footer-one .footer-app-store li {
  display: inline-block;
  margin-right: 8px;
}
.footer-one .footer-app-store li img {
  max-width: 140px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-one .footer-app-store li {
    margin-right: 6px;
  }
}
.footer-one .footer-app-store li:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .footer-one .footer-app-store li {
    width: 120px;
    display: block;
    margin-bottom: 10px;
  }
  .footer-one .footer-app-store li:last-child {
    margin: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-one .footer-app-store li {
    width: auto;
  }
}
.footer-one .footer-app-store li a {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.footer-one .footer-app-store li a:hover {
  box-shadow: var(--shadow-4);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
}
.footer-one .f-about {
  margin-top: 30;
}
.footer-one .f-about .text {
  margin-top: 20px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
  .footer-one .f-about {
    padding-right: 200px;
  }
}
.footer-one .footer-link {
  margin-top: 30px;
}
.footer-one .footer-link ul {
  margin-top: 8px;
}
.footer-one .footer-link ul a {
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-3);
  margin-top: 16px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media (max-width: 767px) {
  .footer-one .footer-link ul a {
    margin-top: 12px;
  }
}
.footer-one .footer-link ul a:hover {
  color: var(--primary);
}
.footer-one .footer-contact {
  margin-top: 30px;
}
.footer-one .footer-contact ul {
  margin-top: 24px;
}
.footer-one .footer-contact ul li {
  display: block;
  margin-top: 15px;
  position: relative;
  padding-left: 24px;
  color: var(--dark-3);
}
.footer-one .footer-contact ul li:first-child {
  margin: 0;
}
.footer-one .footer-contact ul li i {
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 4px;
}
.footer-one .footer-copyright {
  border-top: 1px solid var(--gray-4);
}
.footer-one .copyright {
  padding-bottom: 23px;
  padding-top: 13px;
}
.footer-one .copyright .text {
  color: var(--dark-3);
  margin-top: 10px;
}
.footer-one .social {
  margin-top: 10px;
}
.footer-one .social li {
  display: inline-block;
  margin-right: 15px;
}
.footer-one .social li:last-child {
  margin-right: 0;
}
.footer-one .social li a {
  font-size: 18px;
  color: var(--dark-3);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.footer-one .social li a:hover {
  color: var(--primary);
}

/*===== portfolio ONE =====*/
.portfolio-one {
  padding-top: 100px;
  padding-bottom: 100px;
}
.portfolio-one .portfolio-menu button {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-3);
  line-height: 48px;
  padding: 0 30px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  display: inline-block;
  z-index: 5;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  cursor: pointer;
  margin-right: 4px;
  text-transform: uppercase;
}
.portfolio-one .portfolio-menu button:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-one .portfolio-menu button {
    font-size: 14px;
    padding: 0 26px;
  }
}
@media (max-width: 767px) {
  .portfolio-one .portfolio-menu button {
    font-size: 14px;
    padding: 0 22px;
    line-height: 42px;
  }
}
.portfolio-one .portfolio-menu button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.portfolio-one .portfolio-menu button:hover, .portfolio-one .portfolio-menu button.active {
  color: var(--white);
}
.portfolio-one .portfolio-menu button:hover::before, .portfolio-one .portfolio-menu button.active::before {
  opacity: 1;
}
.portfolio-one .hide {
  display: none;
}
.portfolio-one .show {
  display: block;
}

.portfolio-style-one {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 30px;
}
.portfolio-style-one .portfolio-image img {
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.portfolio-style-one .portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
.portfolio-style-one .portfolio-content {
  padding: 16px;
}
.portfolio-style-one .portfolio-icon {
  position: relative;
  display: inline-block;
}
.portfolio-style-one .portfolio-icon a {
  font-size: 30px;
  color: var(--white);
  position: relative;
  z-index: 5;
  line-height: 90px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border: 2px solid var(--white);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.portfolio-style-one .portfolio-icon a:hover {
  background-color: #ffffff;
  color: var(--primary);
  border-color: transparent;
}
.portfolio-style-one .portfolio-text {
  padding-top: 24px;
}
@media (max-width: 767px) {
  .portfolio-style-one .portfolio-text {
    padding-top: 10px;
  }
}
.portfolio-style-one .portfolio-title a {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio-style-one .portfolio-title a {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .portfolio-style-one .portfolio-title a {
    font-size: 20px;
  }
}
.portfolio-style-one .text {
  color: #ffffff;
  margin-top: 8px;
  opacity: 0.7;
}
.portfolio-style-one:hover .portfolio-image img {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  filter: blur(8px);
}
.portfolio-style-one:hover .portfolio-overlay {
  opacity: 1;
  visibility: visible;
}


